services:
  kincode:
    build: .
    container_name: kincode
    restart: unless-stopped
    ports:
      - "8084:80"
    read_only: true
    tmpfs:
      - /var/cache/nginx
      - /var/run
    security_opt:
      - no-new-privileges:true
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://kincode/health",
        ]
      interval: 30s
      timeout: 3s
      retries: 3
#     networks:
#       proxy:
#
# networks:
#   proxy:
#     external: true
